.options {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  /* ! fix options position */
  justify-items: center;
}
.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btns,
.options {
  width: 80%;
  margin-inline: auto;
}

.previous,
.next {
  color: white;
  font-size: medium;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: box-shadow 250ms ease;
}

.btns button:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.previous {
  background: #ff4545;
}
.next {
  background: #38dd3f;
}

.q_value,
.q_header {
  font-size: 20px;
}
.q_header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.question {
  margin: auto;
  width: 1900px;
  max-width: 90%;
  min-height: 50vh;
  /* box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 30px 50px; */
  gap: 30px;
}

.nbr_answers {
  font-size: 18px;
  font-weight: 600;
}

.nbr_answers::before {
  content: "*";
  color: red;
}
