.label-item {
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}

.isAnswered {
  border-color: greenyellow;
  background-color: #38dd3f;
  color: beige;
}
