* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quiz_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.quiz_header {
  margin: auto;
  width: 80%;
  padding-top: 40px;
}

.imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}