* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quiz_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.quiz_header {
  margin: auto;
  width: 80%;
  padding-top: 40px;
}

.imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navigation {
  display: flex;
  align-items: cente;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.box {
  padding: 30px 50px;
  /* min-height: 50vh; */
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container {
  margin: auto;
  width: 1900px;
  max-width: 90%;
}

.quiz_info {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  align-items: center;
}

.question_header {
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.submit-card {
  padding: 30px 50px;
  display: flex;
  justify-content: end;
  /* margin-bottom: 20px; */
}

.submit-card button {
  padding: 4px 7px;
  color: white;
  background: #00a1e0;
  font-size: medium;
  border-radius: 5px;
}
